.home-wrapper{
    width: 100%;
    justify-content: center;
}
.home-info-container{
    margin: 100px;
    justify-content: center;
    text-align: start;
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}
.home-info-container span{
    color: #0088FF;
    font-weight: bold;
}
.home-info-container h1{
    font-size: 70px;
}

.home-icon-list{
    list-style-type: none;
    color: white;
    padding: 0;
    margin: 0;

    

}
.home-icon-list li{
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  
}
.home-icon-list a{
    color: white;
}
.home-icon-list a:hover{
    color: #0088FF;
}




@media screen and (max-width: 760px){
    .home-info-container{

    }
    .home-info-container h1{
        font-size: 32px;
        
    }
    .column {
        width: 100%;
    }
  
    
}
  